<link rel="stylesheet" href="./c96-video-modal.scss">
<script src="./C96VideoModal.ts"></script>


<section class="b-videoModal"
  data-component="c96-video-modal"
  {{#if scrollComponent}}data-scroll-component{{/if}}
  {{#if id}} id="{{id}}"{{/if}}
  {{#if (condition backgroundColor '||' padding)}}
    style="{{#with padding}}--component-block-padding: var(--{{#with start}}block-padding-{{this}}{{else}}container-margin{{/with}})
    {{#unless (condition start '===' end)}}var(--{{#with end}}block-padding-{{this}}{{else}}container-margin{{/with}}){{/unless}};{{/with}}
    {{#with backgroundColor}}--component-background-color: {{#unless (condition this '===' transparent)}}var(--color-{{this}}){{^}}transparent{{/unless}};{{/with}}"
  {{/if}}
>
  <div class="b-videoModal__container">
    <div class="b-videoModal__mediaContainer">
      {{> ./shape/shady-shape-1 className="b-videoModal__shadyShape1" }}
      <div class="b-videoModal__wrapper">
        <div class="b-videoModal__mediaButton" data-media-button data-video="{{ toJson video }}">
          <div class="b-videoModal__media">
            {{> atom/a01-image image disableTransition=true }}
          </div>
          {{#with heading}}
            <div class="b-videoModal__header">
              {{> atom/a03-heading }}
            </div>
          {{/with}}
          {{> molecule/m02-button eventTracking=video.playButtonEventTracking icon="play-solid" theme="green" variant="play"}}
        </div>
      </div>
    </div>
    <div class="text">
      <h2>{{content.text}}</h2>
      <p>{{content.description}}</p>
    </div>
  </div>
</section>
