



<section class="b-article"
  data-component="c91-article"
  {{#if scrollComponent}}data-scroll-component{{/if}}
  {{#if id}} id="{{id}}"{{/if}}
  {{#with padding}}
    style="--component-block-padding: var(--{{#with start}}block-padding-{{this}}{{else}}container-margin{{/with}})
    {{#unless (condition start '===' end)}}var(--{{#with end}}block-padding-{{this}}{{else}}container-margin{{/with}}){{/unless}};"
  {{/with}}
  data-lazy-component
>
  <main class="b-article__container">
    <article class="b-article__content">
      {{#with image}}
        <div class="b-article__image">
          {{> atom/a01-image this disableTransition=true }}
        </div>
      {{/with}}

      <div class="b-article__textContent">
        {{#with heading}}
          {{> atom/a03-heading }}
        {{/with}}

        <div class="s-content">
          {{{content}}}
        </div>
      </div>
    </article>

    {{#with meta}}
      <aside class="b-article__meta">
        {{> ./c91-article-meta-line }}

        {{#with datetime}}
          <time datetime="{{value}}">
            {{> atom/a02-icon name="calendar-round" }}
            {{text}}
          </time>
        {{/with}}

        {{#with duration}}
          <time datetime="{{value}}">
            {{> atom/a02-icon name="clock-00_15" }}
            {{text}}
          </time>
        {{/with}}

        {{#with share}}
          {{> molecule/m02-button
            this
            variant="pink"
            data=(object
              share-button=null
              share=(toJson this.data)
              success-message=@root.i18n.copied
            )
          }}
        {{/with}}
      </aside>
    {{/with}}
  </main>
</section>
